<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./send.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | SHARESAVE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/img/large_sharesave_0.png" alt="SHARESAVE logo" class="logo">

    <section class="download">
        <img class="download__icon" src="/img/download-1915753_640.webp" alt="SHARESAVE-download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>File is ready to download</h2>
        <!-- <p>Link expires in 24 hours</p> -->
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>
</body>

</html>